In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
'''Read the ‘flavors of cocoa.csv’ file as a dataframe ‘df cocoa’ and answer questions 6-9. The description of features/variables is given below:'''
df=pd.read_csv('/content/flavors_of_cocoa.csv')
df

,Id,Company,Bean Origin,Review Date,Cocoa Percent,Company Location,Rating
0,1,A. Morin,Agua Grande,2016.0,63%,France,3.75
1,2,A. Morin,Kpime,2015.0,70%,France,2.75
2,3,A. Morin,Atsane,2015.0,70%,France,3.00
3,4,A. Morin,Akata,2015.0,70%,France,3.50
4,5,A. Morin,Quilla,2015.0,70%,France,3.50
...,...,...,...,...,...,...,...
1790,1791,Zotter,Peru,2011.0,70%,Austria,3.75
1791,1792,Zotter,Congo,2011.0,65%,Austria,3.00
1792,1793,Zotter,Kerala State,2011.0,65%,Austria,3.50
1793,1794,Zotter,Kerala State,2011.0,62%,Austria,3.25
1794,1795,Zotter,"Brazil, Mitzi Blue",2010.0,65%,Austria,3.00

In [ ]:
''''Which of the following variable have null values?
 ID
 Company
 Review Date
 Rating'''
print("Columns in the DataFrame:")
print(df.columns)


null_summary = df.isnull().sum()
print("\nNull values in each column:")
print(null_summary)


null_columns = null_summary[null_summary > 0]
print("\nColumns with null values:")
print(null_columns)

Columns in the DataFrame:
Index(['Id', 'Company', 'Bean Origin', 'Review Date', 'Cocoa Percent',
       'Company Location', 'Rating'],
      dtype='object')

Null values in each column:
Id                  0
Company             0
Bean Origin         0
Review Date         4
Cocoa Percent       0
Company Location    0
Rating              0
dtype: int64

Columns with null values:
Review Date    4
dtype: int64

In [ ]:
'''Which of the following countries have maximum locations of cocoa manufacturing companies?
 U.K.
 U.S.A.
 Canada
 France'''
location_counts = df['Company Location'].value_counts()

# Display the count of locations for each country
print(location_counts)

Company Location
U.S.A.               764
France               156
Canada               125
U.K.                  96
Italy                 63
Ecuador               54
Australia             49
Belgium               40
Switzerland           38
Germany               35
Austria               26
Spain                 25
Colombia              23
Hungary               22
Venezuela             20
Japan                 17
Brazil                17
Peru                  17
Madagascar            17
New Zealand           17
Denmark               15
Vietnam               11
Scotland              10
Guatemala             10
Israel                 9
Costa Rica             9
Argentina              9
Poland                 8
Lithuania              6
Honduras               6
South Korea            5
Nicaragua              5
Sweden                 5
Domincan Republic      5
Ireland                4
Netherlands            4
Fiji                   4
Sao Tome               4
Puerto Rico            4
Mexico                 4
Amsterdam              4
Iceland                3
Singapore              3
Portugal               3
Grenada                3
South Africa           3
Finland                2
Bolivia                2
St. Lucia              2
Chile                  2
Philippines            1
Czech Republic         1
India                  1
Martinique             1
Niacragua              1
Ghana                  1
Wales                  1
Eucador                1
Russia                 1
Suriname               1
Name: count, dtype: int64

In [ ]:
'''After checking the data summary, which feature requires a data conversion considering the data values held?
 Rating
 Review date
 Company
 Bean origin'''
# Convert 'Review Date' to datetime format
df['Review Date'] = pd.to_datetime(df['Review Date'])
print(df['Review Date'])

0      1970-01-01 00:00:00.000002016
1      1970-01-01 00:00:00.000002015
2      1970-01-01 00:00:00.000002015
3      1970-01-01 00:00:00.000002015
4      1970-01-01 00:00:00.000002015
                    ...
1790   1970-01-01 00:00:00.000002011
1791   1970-01-01 00:00:00.000002011
1792   1970-01-01 00:00:00.000002011
1793   1970-01-01 00:00:00.000002011
1794   1970-01-01 00:00:00.000002010
Name: Review Date, Length: 1795, dtype: datetime64[ns]

In [ ]:
'''What is the maximum rating of chocolates?
 1.00
 5.00
 3.18
 4.00'''
# Assuming df_cocoa is already loaded
max_rating = df['Rating'].max()
print(f"The maximum rating of chocolates is: {max_rating}")

The maximum rating of chocolates is: 5.0

In [ ]:
'''What will be the output of the following code?'''
B=[True, 2, 3.0, np.nan,"False"]
[type(i) for i in B]

[bool, int, float, float, str]

In [ ]:
'''What does df.info() provide?
 Summary of the DataFrame, including the number of non-null entries.
 The first 5 rows of the DataFrame
 The data types of the columns
 The correlation matrix of the DataFrame'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1795 non-null   int64
 1   Company           1795 non-null   object
 2   Bean Origin       1795 non-null   object
 3   Review Date       1791 non-null   datetime64[ns]
 4   Cocoa Percent     1795 non-null   object
 5   Company Location  1795 non-null   object
 6   Rating            1795 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 98.3+ KB

In [ ]:
'''What will be the output of the following code?'''
arr=np.array([1,2,3,4,5])
print(arr[::2])

[1 3 5]